*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-image: url("../imgs/background.gif");
  padding: 0 20% 0 25%;
}

#logo {
  color: #d7a86d;
  text-shadow: 3px 3px 4px black;
}

nav {
  color: #ffffff;
  background-color: #261408;
  padding: 0.5px;
  border-radius: 15px;
}

nav ul{
  list-style: none;
  display: flex;
}

li{
  padding-right: 13.5%;
}

li:nth-of-type(5n) {
  padding-right: 0;
}

#showcase {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  height:15em;
  background-image: url("../imgs/showcase.png");
  background-size: 100% 100%;
  overflow: hidden;
  color: #d7a86d;
  border-radius: 15px;
}

#showcase h2 {
  padding-left: 2rem;
  color:#ffffff;
}

#showcase p {
  padding-left: 2rem;
  width: 41%;
  line-height: 1.5em;

}